body {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3px;
}

.app-description {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 1em;
    margin: 1em 0;
}

.app-description h3 {
    margin-top: 0;
}

.app-icon {
    float: right;
    width: 48px;
    padding: 6px;
}

.app-details {
    width: calc(100% - 60px);
}

.link-group {
    padding: 0 1em;
}

.link-group li {
    display: inline-block;
    background-color: #dfd;
    border: 1px solid #cfc;
    padding: 2px;
    margin: 3px;
    list-style-type: none;
}

.link-group li a {
    text-decoration: none;
}
