body {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.app-description {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 1em;
    margin: 1em 0;
}

.app-description h3 {
    margin-top: 0;
}

.app-icon {
    float: right;
    width: 48px;
    padding: 6px;
}

.app-details {
    width: calc(100% - 60px);
}

.rh-links {
    float: right;
}

.install-cmd {
    background-color: #ddd;
    padding: 0.5em;
    border-left: 2px solid #999;
    whitespace: pre-wrap;
}
